<!DOCTYPE html>

<html>
	<head>
		<title>FoodFinder | Home</title>
	</head>
	<body>
		<h1>Welcome, {{ user.username }}, to Hungry Bear</h1> 
		<a href="/foodfinder/logout/">Logout</a><br /><br>
		<strong>This is you.</strong>&nbsp;&nbsp;<a href="#">Edit</a><br />
		Username: {{ user.username }}<br>
		Email: {{ user.email }}<br>
		Phone: {{ user.userprofile.phone }}<br><br>
		<strong>Your eating preferences.</strong>&nbsp;&nbsp;<a href="#">Edit</a><br />
		{{ user.userprofile.preferences }}<br><br>
		<strong>Notify me via:</strong>&nbsp;&nbsp;<a href="#">Edit</a><br>


	</body>
</html>