<!DOCTYPE html>

<html>
	<head>
		<title>Hungry Bear</title>
	</head>
	<body>
		{% if user.is_authenticated %}
			<script type='text/javascript'>
				window.location.href = "/foodfinder/home/"
			</script>			
		{% else %}
			<h1>Welcome to Hungry Bear</h1>
			<p>Hungry? Just tell <b>Hungry Bear</b> what you like to eat, <br> and it'll notify you whenever Cal Dining is serving something you like!</p>
			<a href="/foodfinder/register/">Register</a><br />
			<a href="/foodfinder/login/">Login</a><br />
		{% endif %}		
	</body>
</html>