<!DOCTYPE html>
<html>
    <head>
        <title>FoodMatch</title>
    </head>

    <body>
        <h1>Register with FoodMatch</h1>

        {% if registered %}
        Foodmatch says: <strong>thank you for registering!</strong>
        <a href="/foodfinder/">Return to the homepage.</a><br />
        {% else %}
        Foodmatch says: <strong>register here!</strong><br />

        <form id="user_form" method="post" action="/foodfinder/register/"
                enctype="multipart/form-data">

            {% csrf_token %}

            {{ user_form.as_p }}
            {{ profile_form.as_p }}

            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Register" />
        </form>
        {% endif %}
    </body>
</html>