<!DOCTYPE html>
{% extends "foodfinder/index.html" %}

{% block body_block %}
<html>
    <head>
        <title>Hungry Bear - Login</title>
    </head>

    <body>
        <h1>Welcome to Hungry Bear</h1>
        <h3 style="text-decoration: underline;">Login to your account</h3>
        <form id="login_form" method="post" action="/foodfinder/login/" style="margin-bottom: 15px;">
            {% csrf_token %}
            <input type="text" name="username" value="" size="50" placeholder="username"/><br />
            <input type="password" name="password" value="" size="50" placeholder="************"/><br />
            <input type="submit" value="submit" />
        </form>
        <div id='buttons'>
            <a href="/foodfinder/index/"><font color="black">Back to main page</font></a>
        </div>
    </body>
</html>
{% endblock %}