<!DOCTYPE html>
{% extends "foodfinder/index.html" %}

{% block body_block %}
<html>
    <head>
        <!-- Is anyone getting tired of repeatedly entering the header over and over?? -->
        <title>Hungry Bear - Login</title>
    </head>

    <body>
        <h1 style='margin-bottom: 12px;'>Login to Hungry Bear</h1>

        <form id="login_form" method="post" action="/foodfinder/login/">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" />
            <br />
            Password: <input type="password" name="password" value="" size="50" />
            <br />

            <input type="submit" value="submit" />
        </form>
        <a href="/foodfinder/index/">Back to main page</a>
    </body>
</html>
{% endblock %}