<!DOCTYPE html>

<html>
	<head>
		<title>Hungry Bear - Settings</title>
	</head>
	<body>
		<h1>Welcome, {{ user.username }}, to Hungry Bear</h1> 
		<a href="/foodfinder/home/">Home</a>&nbsp;&nbsp;<a href="/foodfinder/logout/">Logout</a><br /><br>
		<form method='post' action="/foodfinder/settings/">
			{% csrf_token %}
			<strong>Change your preferences if you like.</strong><br>
            <input type='text' name='preferences' id='preferences' style='width: 400px;' value='{{ user.userprofile.preferences }}'>
      		<input type='submit' value='Save changes'/>
		</form>
	</body>
</html>